# ==========================================
# The Divine Garbh Sanskar - Backend Environment Config
# ==========================================

PORT=4100

# MongoDB Database URI (Provided by Admin / Cluster)
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/divine_website_events?retryWrites=true&w=majority
MONGODB_DB_NAME=divine_website_events

# Admin Portal Passwords
ADMIN_PASSWORD=your_admin_secret_key
ADMIN_PASSWORD_FALLBACK=Manas@1177

SUPER_ADMIN_PASSWORD=your_super_admin_secret_key
SUPER_ADMIN_PASSWORD_FALLBACK=Manish@1177

# Default Fallback Payment Details
DEFAULT_UPI_ID=thedivinegarbhsanskar@okaxis
DEFAULT_PAYEE_NAME=The Divine Garbh Sanskar
ADMIN_WHATSAPP_NUMBER=919586979897
